li{margin-right:60px ;}
body{background-color:#E3DFF2;font-family: 'Quicksand', sans-serif;}
#par{text-align:right;color:#F8A5CD;font-size:34pt;font-family: 'Quicksand', sans-serif;margin-right:50px ;}
h1{color:#99CCFF;font-size:42.64pt;font-family: 'Quicksand', sans-serif;}

